:root {
    --Neutral-300: #d1d0d5;
    --Neutral-500: #8784A5;
    --Neutral-700: #4B4869;
    --Neutral-900: #0D082D;
    --Orange-500: #F57463;
    --Orange-700: #E1604F;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 136px;
    width: 668px;
    margin-top: 44px;
    text-align: center;
}

.header h2 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 13px;
}

.header p {
    font-size: 18px;
    color: var(--Neutral-300);
}

.form {
    display: flex;
    flex-direction: column;
    width: 345px;
    gap: 30px;
    margin-top: 30px;
}

.file-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.input-group,
.file-group {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 9px;
}

.input-group label,
.file-group label {
    font-size: 15px;
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid var(--Neutral-500);
    padding: 0 11px;
    color: #fff;
    font-size: 14px;
    caret-color: #fff;
    backdrop-filter: blur(4px);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgb(255, 255, 255, .1);

}

.input:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.input:focus {
    outline: 2px solid var(--Neutral-500);
    outline-offset: 2px;
}

.input::placeholder {
    color: var(--Neutral-300);
}

.error-text {
    position: absolute;
    font-size: 10px;
    bottom: -20px;
    color: var(--Orange-700);
    display: flex;
    align-items: center;
    gap: 5px;
}

.file-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86px;
    padding: 11px 8px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%238784A5FF' stroke-width='1' stroke-dasharray='6%2c6'/%3e%3c/svg%3e");
    backdrop-filter: blur(4px);
    position: relative;
    gap: 11px;
}

.file-box-hover:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;

}

.file-box input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    cursor: pointer;
}

.buenas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
}

.buenas p {
    font-size: 12px;
    color: var(--Neutral-300);
}

.file-preview {
    width: 34px;
    height: 34px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--Neutral-500);
    display: grid;
    place-items: center;
}

.file-preview img {
    width: 32px;
    border-radius: 6px;
    object-fit: cover;
}

.file-buttons {
    display: flex;
    gap: 4px;
}


.file-buttons .change-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.file-buttons .change-input-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-buttons button {
    position: relative;
    height: 18px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
}


.file-buttons button:hover {
    color: var(--Neutral-300);
    text-decoration: underline;
}



.submit-btn {
    height: 36px;
    border-radius: 8px;
    background-color: var(--Orange-500);
    border: none;
    color: var(--Neutral-900);
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: var(--Orange-700);
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
    }

    .header h2 {
        font-size: 36px;
    }

    .header p {
        font-size: 16px;
    }

    .form {
        width: 90%;
    }
}