:root {
    --Neutral-300: #d1d0d5;
    --Neutral-500: #8784A5;
    --Neutral-700: hsl(245, 19%, 35%);
    --Neutral-900: hsl(248, 70%, 10%);
    --Orange-500: hsl(7, 88%, 67%);
    --Orange-700: hsl(7, 71%, 60%);
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formHeader {
    min-height: 148px;
    max-width: 729px;
    margin-bottom: 32px;
}

.formHeader h2 {
    font-size: 49px;
    letter-spacing: -1px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 16px;
}

.formHeader p {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.5px;
    text-align: center;
    color: var(--Neutral-300);
}


.form {
    display: flex;
    flex-direction: column;
    width: 460px;
    gap: 24px;
}

.form label {
    font-size: 20px;
}

.fileContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
    gap: 12px;
}

.fileBox {
    display: flex;
    position: relative;
    min-height: 126px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px 12px;
    background-color: rgb(255, 255, 255, 0.08);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%238784A5FF' stroke-width='2' stroke-dasharray='5%2c 8' stroke-dashoffset='31' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
    gap: 16px;
    backdrop-filter: blur(4px);
}


.fileBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
}

.cloudIconContainer {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, .1);
    border: 1px solid var(--Neutral-500);
}

.iconContainer .icon {
    width: 30px;
}

.fileBox p {
    font-size: 18px;
    color: var(--Neutral-300);
}


.infoBox {
    display: flex;
    align-items: center;
    height: 16px;
    gap: 8px;
}

.infoIcon {
    padding: 0;
    color: var(--Neutral-300);
}

.infoBox p {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.2px;
    color: var(--Neutral-300);
}


.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}



.inputBox label {
    display: block;
    color: var(--Neutral-300);
}


.inputBox input {
    width: 100%;
    height: 54px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, .08);
    border: 1px solid var(--Neutral-500);
    padding: 0 16px;
    color: #fff;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
    caret-color: #fff;
    backdrop-filter: blur(4px);
}

.inputBox input::placeholder {
    color: var(--Neutral-300);
}


.inputBox input:-webkit-autofill,
.inputBox input:-webkit-autofill:hover,
.inputBox input:-webkit-autofill:focus,
.inputBox input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgb(255, 255, 255, .1);
}

in .inputBox input:focus {
    outline: 2px solid var(--Neutral-500);
}


form button {
    height: 54px;
    border-radius: 12px;
    padding: 16px 24px;
    background-color: var(--Orange-500);
    color: rgb(1, 1, 49);
    border: 1px solid var(--Neutral-500);
    font-size: 20px;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: -0.3px;
}   

form button:hover {
    background-color: var(--Orange-700);
} 