:root {
    --Neutral-300: #d1d0d5;
    --Neutral-500: #8784A5;
    --Neutral-700: #4B4869;
    --Neutral-900: #0D082D;
    --Orange-500: #F57463;
    --Orange-700: #E1604F;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}


.ticket-container {
    background-image: url('../../assets/images/pattern-ticket.svg');
    width: 300px;
    height: 140px;
    background-size: contain;
    background-position: center;
    object-fit: scale-down;
    background-repeat: no-repeat;
    position: relative;
}

.ticket-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.event-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.event-content .logo-box {
    display: flex;
    height: 100%;
}


.event-info {
    display: flex;
    align-items: start;
    gap: 8px;
}

.event-info img {
    width: 24px;
    height: 24px;
}


.event-info .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4px;
}

.event-info .event-date {
    font-size: 16px;
    word-spacing: -4px;
    font-weight: 100;
    color: var(--Neutral-300);
}


.user-info-container {
    display: flex;
    gap: 8px;
}

.user-info-container img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.user-info-container .name-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-info-container .username {
    line-height: 110%;
    font-weight: 500;
}


.github-icon-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.github-icon {
    width: 16px;
    height: 16px;
    fill: var(--Neutral-300);
}

.ticket-number {
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-number p {
    transform: rotateZ(90deg);
    font-size: 20px;
    color: var(--Neutral-500);
}

@media (min-width: 376px) {
    .container {
        align-items: start;
    }

    .ticket-container {
        width: 370px;
        height: 174px;
    }

    .ticket-content {
        padding: 20px;
    }

    .ticket-number {
        width: 20px;
        height: 100%;
        }

    .ticket-number p {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .ticket-container {
        width: 600px;
        height: 280px;
    }

    .ticket-content {
        padding: 32px;
    }

    .event-info {
        gap: 18px
    }

    .event-info img {
        width: 54px;
        height: 54px;
    }

    .event-info .title {
        font-size: 42px;
        margin-bottom: 12px;
    }

    .event-info .event-date {
        font-size: 24px;
    }

    .user-info-container {
        display: flex;
        gap: 16px;
    }

    .user-info-container img {
        width: 90px;
        height: 90px;
        border-radius: 8px;
    }

    .github-icon {
        width: 24px;
        height: 24px;
    }

    .user-info-container .username {
        font-size: 30px;
    }

    .user-info-container .github-name {
        font-size: 20px
    }

    .ticket-number p {
        font-size: 32px;
    }

}