:root {
    --Neutral-300: #d1d0d5;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.content {
    width: 95%;
}

.content h2 {
    line-height: 110%;
    letter-spacing: -1px;
    font-size: 24px;
    padding-bottom: 16px;
}

.content p {
    font-weight: 400;
    font-size: 16px;
    color: var(--Neutral-300);
    line-height: 120%;
    letter-spacing: -0.5px;
}

.name {
    background: linear-gradient(90deg, #F37362 0%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email {
    color: var(--Orange-700);
}

@media (min-width: 376px) {
    .container {
        padding-top: 50px;
    }

    .container h2 {
        font-size: 30px;
        padding-bottom: 12px;
    }

    .content p {
        font-size: 20px;
    }
}



@media (min-width: 768px) {
    .container {
        padding: 0 40px;
    }

    .container h2 {
        font-size:60px;
        padding-bottom: 12px;
    }

}