header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 23px;
    margin-top: 30px;
    gap: 16px;
}

.headerContent img {
    height: 23px;
}

.headerContent h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 90%;
}