header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 30px;
    margin-top: 25px;
    gap: 16px;
}

.headerContent img {
    height: 30px;
}

.headerContent h4 {
    font-weight: 700;
    font-size: 24px;
}