.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 54px);
    padding: 16px 0;
}

@media (min-width: 376px) {
    .main-container {
        gap: 60px;
    }
}