.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 54px);
    padding: 16px 0;
}

@media (min-width: 376px) {
    .main-container {
        gap: 50px;
        height: calc(100vh - 74px);
    }
}


@media (min-width: 768px) {
    .main-container {
        padding: 0;
        gap: 0px;
        justify-content: space-evenly;
    }
}