:root {
    --Neutral-0: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--Neutral-0);
}

@font-face {
    font-family: 'Inconsolata';
    src: url('./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}